
<form action="/login" method="POST" id="form">

  <label for="username">Username:</label>
  <input type="text" name="username" value="admin">

  <br></br>

  <label for="password">Password:</label>
  <input type="password" name="password" value="password">

  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br></br>
  
  <button>Log In</button>

  <p class="account-message">
    Don't have an account? <a href="/signup">Sign up</a>
  </p>
</form>