<style>
li{
  display: flex;
  justify-content: space-evenly;
}
</style>

<div class="container home-page">

  <h1 class="header">Top 20 CryptoCurrencies by Market Cap</h1>
    <div class="container table-row">
      <span class="col-lg-3">Name</span>
      <span class="col-lg-3">Price</span>
      <span class="col-lg-3">Change (24hr)</span>
      <span class="col-lg-3">Socials</span>
    </div>
    <hr>
    <div>
      <h2 id="coinName"></h2>
    </div>


</div>


  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script type="text/javascript" src="./public/javascripts/script.js"></script>
