<style>
li{
    display: flex;
  justify-content: space-evenly;
}
</style>

<div class="container home-page">

  <h1 class="header">Cryptocurrencies</h1>
  
    <h2 id="coinName"></h2>


</div>


  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script type="text/javascript" src="./public/javascripts/script.js"></script>
