body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgba(235, 235, 235, 0.507);
}

.navbar {
  font-family: 'Raleway', Arial
}
.bg-light {
  background-color: rgb(67, 29, 155)!important;
}

.btn-outline-success {
  color: rgb(51, 255, 0);
  background-color: rgb(8, 4, 44);
}

.navbar-light .navbar-brand {
  color: rgba(51, 255, 0, 0.9);
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(51, 255, 0, 0.9);
}

.social-page {
  margin: 40 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}



.image-size {
  width: auto;
  height: 50%;
  display: block;
  padding-top: 20px;
}

.comment-box {
  font-family: 'Raleway', Arial;
  height: 200px;
}

.user-info-comment {
  width: 100%;
  padding-bottom: 10px;
}

.icon {
  width: 25px;
  height: auto;
}

.prices-table ul {
  list-style-type: none;
}

.prices-table h2 {
  font-size: 1rem;
  font-family: 'Raleway', Arial;
}

.prices-table img {
  width: 30px;
}

.prices-table {
  margin-top: 50px;
}

.prices-table li {
  padding-top: 45px;
  padding-bottom: 45px;
}

#form {
  margin: 30px auto;
  width: 380px;
}

#form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

#form input,
#form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

#form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%;
}

#form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: .3s ease background;
}

.error-message {
  background: #F02B63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

.edit-text {
  color: rgb(146, 140, 140);
  padding-top: 0;
}

.home-page {
  margin-top: 40px;
}

.welcome {
  float: right;
  margin: 0;
}

.username {
  padding-top: 20px;
  padding-bottom: 30px;
}

.home-page h2 {
  font-family: 'Raleway', Arial;
  font-size: 1.15rem;
}

.home-page img {
  height: 30px;
}

.home-page li {
  padding-bottom: 30px;
}

.header {
  padding-bottom: 40px;
}
